{% extends './_base.html' %} 

{% block title %}
Domů
{% endblock title %} 

{% block body %}
<div class="container-sm user-account">
<h1>Vítej na uživatelské stránce</h1>
   <!-- <div class=""></div> --> 
    <div class="row border">
        <div class="col-3 border-dark border-end">
        <nav class="nav flex-column">
            <a class="nav-link active" aria-current="page" href="/ucet">Osobní údaje</a>
            <a class="nav-link" href="#">Link</a>
            <a class="nav-link" href="#">Link</a>
        </nav>
        </div>
        <div class="col-9">
        form coll
        </div>
    </div>
    
</div>

{% endblock body %}